body {
	margin: 0; 
}

table, tbody {
	background-color: #000;
	height: 500px;
	width: 500px;
}

tbody, td {
	border: 1px solid black;
	height: 25%;
	width: 25%;
}

td {
	background-color: #E85D16FF;
	text-align: center;
}
.header {
	position: relative;
	z-index: auto;
}

.gameboard {
	position: relative;
	z-index: auto;
}

.modal {
	background-color: rgba(0,0,0);
	background-color: rgba(0,0,0,0.2);
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	width: 100%;
	z-index: 1;
}

.modal-body {
	background-color: #fefefe;
	border: 1px solid black;
	margin: 20% auto;
	width: 50%;

}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	cursor: pointer;
	text-decoration: none;
}

.show-card {
	display: block;
}

.hide-card {
	display: none;
}