/*Core Styles*/
body, html {
	box-sizing: border-box;
}

body {
 margin: 0;
 padding: 0;
}

.container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows-rows: 75px, 150px, auto, 50px;
}
table, tbody {
	background-color: #000;
	height: 500px;
	width: 500px;
}

td {
	background-color: #fff;
	text-align: center;
	height: 25%;
	width: 25%;
}

.header {
	background-color: green;
	grid-column-start: 1;
	grid-column-end: 3;
/*	grid-row-start: 1;
	grid-row-start: 2;*/
}

.header-text {

}

.reset-button {
 position: relative;
 right: 0px;
 width: 200px;
 border: 1px red solid;
}
.scoreboard {
	background-color: pink;
	grid-column-start: 1;
 	grid-column-end: 3;
/* 	grid-row-start: 2;
	grid-row-start: 3;*/
}

.gameboard {
	background-color: purple;
	grid-column-start: 1;
 	grid-column-end: 3;
/* 	grid-row-start: 3;
 	grid-row-end: 4;*/
}


.footer {
	background-color: green;
	grid-column-start: 1;
	grid-column-end: 3;
/*	grid-row-start: 4;
	grid-row-end: 5;*/
}
/*Modal*/
/*.modal {
	background-color: rgba(0,0,0);
	background-color: rgba(0,0,0,0.2);
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	width: 100%;
	z-index: 1;
}

.modal-body {
	background-color: #fefefe;
	border: 1px solid black;
	margin: 20% auto;
	width: 50%;

}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	cursor: pointer;
	text-decoration: none;
}*/
/*Toggle classes to show cards when clicked.*/
.show-card {
	display: block;
}

.hide-card {
	display: none;
}