/*Initial styles for smallest mobile*/
body {
	background: grey;
	color: white;
	display: block; -webkit-box-sizing: border-box;
	   				-moz-box-sizing: border-box;
	        		box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	text-align: center;
	width: 100%;
}

header {
	/*border: 1px solid white;*/
	display: flex;
}

table, tbody {
	background-color: grey;
	height: 320px;
	width: 100%;
}

td {
	border: 1px solid white;
	height: 25%;
	width: 25%;
}

.scoreboard,
.scoreboard-labels {
	display: flex;
	font-size: 1.2em;
}
.scoreboard-labels > p {
	text-decoration: underline;
	width: 33%;
}
.scoreboard > div {
	width: 33%;
}

.gameboard {

}

.footer {
	display: none;
}

#header-text {
	width: 80%;
}

#reset-button {
	width: 20%;
	padding: 30px 0;
	text-align: center;
}

/*Modal*/
/*.modal {
	background-color: rgba(0,0,0);
	background-color: rgba(0,0,0,0.2);
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	width: 100%;
	z-index: 1;
}

.modal-body {
	background-color: #fefefe;
	border: 1px solid black;
	margin: 20% auto;
	width: 50%;

}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	cursor: pointer;
	text-decoration: none;
}*/
/*Toggle classes to show cards when clicked.*/
.show-card {
	display: block;
}

.hide-card {
	display: none;
}